@import "tailwindcss";
@import "tw-animate-css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-blue-900: var(--blue-900);
  --color-blue-800: var(--blue-800);
  --color-blue-700: var(--blue-700);
  --color-blue-600: var(--blue-600);
  --color-blue-500: var(--blue-500);
  --color-blue-400: var(--blue-400);
  --color-blue-300: var(--blue-300);
  --color-blue-200: var(--blue-200);
  --color-blue-100: var(--blue-100);
  --color-blue-50: var(--blue-50);
  --color-grey-900: var(--grey-900);
  --color-grey-800: var(--grey-800);
  --color-grey-700: var(--grey-700);
  --color-grey-600: var(--grey-600);
  --color-grey-500: var(--grey-500);
  --color-grey-400: var(--grey-400);
  --color-grey-300: var(--grey-300);
  --color-grey-200: var(--grey-200);
  --color-grey-100: var(--grey-100);
  --color-grey-50: var(--grey-50);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-success: var(--success);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --blue-900: #020418;
  --blue-800: #070b28;
  --blue-700: #0f1331;
  --blue-600: #1e2457;
  --blue-500: #3c4992;
  --blue-400: #4e5dbc;
  --blue-300: #6b7fff;
  --blue-200: #909fff;
  --blue-100: #bac3ff;
  --blue-50: #e2e6fd;
  --grey-900: #101219;
  --grey-800: #181921;
  --grey-700: #212536;
  --grey-600: #34384e;
  --grey-500: #4d5270;
  --grey-400: #6d6d88;
  --grey-300: #aaaabf;
  --grey-200: #d5d5e8;
  --grey-100: #eaeaf6;
  --grey-50: #f6f6fe;
  --black: #020418;
  --white: #ffffff;
  --error: #ff4836;
  --warning: #ffe55d;
  --success: #4cd191;

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --blue-900: #020418;
  --blue-800: #070b28;
  --blue-700: #0f1331;
  --blue-600: #1e2457;
  --blue-500: #3c4992;
  --blue-400: #4e5dbc;
  --blue-300: #6b7fff;
  --blue-200: #909fff;
  --blue-100: #bac3ff;
  --blue-50: #e2e6fd;
  --grey-900: #101219;
  --grey-800: #181921;
  --grey-700: #212536;
  --grey-600: #34384e;
  --grey-500: #4d5270;
  --grey-400: #6d6d88;
  --grey-300: #aaaabf;
  --grey-200: #d5d5e8;
  --grey-100: #eaeaf6;
  --grey-50: #f6f6fe;
  --black: #020418;
  --white: #ffffff;
  --error: #ff4836;
  --warning: #ffe55d;
  --success: #4cd191;

  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: "Inter", sans-serif;
}
